.navbar-main {
    border: 1px solid black;
    background: linear-gradient(90deg,rgb(253, 204, 112),pink);
}

// .row {
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     padding: 1px 2px;
// }

.btn-primary {
    background-color: rgb(110, 110, 110);
    border-color: white;
    padding: 10px 24px;
}

.nav-link {
  color: #fff;
  padding: 6px 12px;
  font-size: 14px;
}