<div class="navbar-main">
    <div class="row justify-content-around align-items-center py-2">
        <div class="col-6 col-md-3">
            <div class="btn btn-primary">
                <a routerLink="/projects" routerLinkActive="active" class="nav-link">Projects</a>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="btn btn-primary">
                <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="btn btn-primary">
                <a routerLink="/skills" routerLinkActive="active" class="nav-link">Skills</a>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="btn btn-primary">
                <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact</a>
            </div>
        </div>
    </div>
</div>