.project {
    min-height: 100vh;
    background: linear-gradient(90deg,rgb(240, 214, 214),rgb(251, 219, 195));
}

.col {
    margin-top: 5px;
    border: 1px solid black;
}
.row {
    padding-left: 20px;
}

.pro {
    font-style: oblique;
    font-size: 18px;
}