<div class="project">
    <div class="row">
        <div class="col">
            <h3>Seedsure Mobile Application(Ionic5 + Angular)</h3>
            <h5>A field-agent onboarding platform
                for an agriculture organization, enabling appointed agents to collect and submit farmer data
                across multiple modules via a mobile app. 
            </h5>
            <p class="pro"> Built and maintained scalable and Angular 13+ applications for enterprise clients,
                delivering
                dynamic UIs with reusable component architecture.<br>
                • Developed 30+ reusable components and custom hooks using TypeScript across React and Angular projects,
                improving code modularity and long-term maintainability.<br>
                • Implemented Redux Toolkit for centralized state management, streamlining data flow and boosting
                application responsiveness across complex workflows.<br>
                • Integrated RESTful APIs with secure authentication mechanisms, enabling real-time dashboards and
                dynamic data-driven UI interactions.<br>
                • Achieved a 40% reduction in UI load times through code splitting, lazy loading, and performance
                profiling using Chrome DevTools.<br>
                • Designed and applied complex CSS/SCSS layouts with HTML DOM manipulation for pixel-perfect,
                cross-browser-compatible interfaces.<br>
                • Collaborated in Agile/Scrum teams — sprint planning, daily stand-ups, retrospectives — ensuring
                on-time, high-quality delivery.<br>
                • Delivered robust form validations, custom directives, and role-based access control to enhance UX and
                application security.
            </p>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <h3>Seedsure Web Application(Angular 13)</h3>
            <h5>A supervisor and team hanndling the onboarding and approvals system
                for an agriculture organization, enabling appointed agents to collect
                 and submit farmer data with web-based authorization workflows and report
                generation for supervisors.
            </h5>
            <p class="pro"> Built and maintained scalable and Angular 13+ applications for enterprise clients,
                delivering
                dynamic UIs with reusable component architecture.<br>
                • Integrated RESTful APIs with secure authentication mechanisms, enabling real-time dashboards and
                dynamic data-driven UI interactions.<br>
                • Achieved a 30% reduction in UI load times through code splitting, lazy loading, and performance
                profiling using Chrome DevTools.<br>
                • Designed and applied complex CSS layouts with HTML DOM manipulation for pixel-perfect,
                cross-browser-compatible interfaces.<br>
                • Collaborated in Agile/Scrum teams — sprint planning, daily stand-ups, retrospectives — ensuring
                on-time, high-quality delivery.<br>
                • Delivered robust form validations, custom directives, and role-based access control to enhance UX and
                application security.<br>
                • worked well with the version control handling multiple branches in hand.

            </p>
        </div>

    </div>
</div>