<div class="home">
    <div class="hero">
        <h2>Hi, I'm Ranjith kankati</h2>
        <h6>"Frontend developer,,</h6>
    </div>
    <div class="about">
        <h3>About me</h3>
        <p class="bio">Frontend Developer with nearly 3 years of experience building scalable, enterprise-grade web applications.
            Proficient in Angular 13+ and React.js, with strong command of TypeScript and JavaScript (ES6+).<br> RESTful API integration, SCSS/SASS styling, and HTML DOM
            manipulation. Skilled in Git version control, CI/CD workflows, and Agile/Scrum delivery. Familiar with
            Node.js and MySQL. Committed to writing clean, maintainable code and delivering seamless user experiences
        </p>
    </div>
</div>